[Desktop Entry]
Name=RusTXT
GenericName=Text Editor
Comment=A fast, recoverable text editor
Exec=rustxt %F
Icon=com.tsubaie.rustxt
Terminal=false
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
StartupNotify=true
StartupWMClass=com.tsubaie.rustxt
Keywords=notepad;text;editor;
